In [256]:
import pandas as pd

def clean(file):
    # 1열은 필요없으므로 건너뛴 상태로 csv파일 부름
    F = pd.read_csv(file, skiprows = 1)       

    # 형변환
    F['특성별(1)'] = F['특성별(1)'].astype('category')
    F['특성별(2)'] = F['특성별(2)'].astype('category')

    # 멀티인덱스 설정
    F.set_index(['특성별(1)','특성별(2)'], inplace = True)

    # 정보 확인
    F.info()

    # 들어온 파라미터의 원본을 최종적으로 저장
    file = F

    return file


# --------------------------------------------------------------------------
# 함수 이름 : select
# 매개 변수 : F
# 함수 기능 : 데이터 프레임에서 해당 인덱스 열을 뽑아줌 (DataFrame 형식)
# --------------------------------------------------------------------------
def select(F, indexC):
        result = F.xs(indexC, level = 0)
        return result

In [257]:
file2 = '../data_adult/성인피해_설문2_가장_두려운_사이버폭력_유형_123순위.csv'
clean(file2)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 52 entries, ('전체', '소계') to ('사이버폭력예방교육별', '경험 없음')
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사이버명예훼손  52 non-null     float64
 1   사이버언어폭력  52 non-null     float64
 2   사이버성폭력   52 non-null     float64
 3   사이버스토킹   52 non-null     float64
 4   신상정보유출   52 non-null     float64
 5   사이버따돌림   52 non-null     float64
 6   사이버갈취    52 non-null     float64
 7   사이버강요    52 non-null     float64
dtypes: float64(8)
memory usage: 6.7 KB

                         사이버명예훼손  사이버언어폭력  사이버성폭력  사이버스토킹  신상정보유출  사이버따돌림  \
특성별(1)     특성별(2)
전체         소계               56.0     50.3    49.6    47.4    42.5    23.0
성별         남성               54.8     50.9    49.2    46.6    42.4    24.0
           여성               57.3     49.7    50.1    48.3    42.5    22.0
연령별        20~29세           54.9     47.9    53.7    46.1    42.8    24.1
           30~39세           52.4     47.1    48.4    45.1    46.9    24.5
           40~49세           56.2     49.0    48.9    46.0    42.5    24.0
           50~59세           57.3     51.1    47.4    49.5    41.6    23.0
           60~69세           59.6     58.0    50.6    50.8    37.7    18.5
학력별        초졸이하             59.2     62.0    60.8    41.2    37.4    21.4
           중졸               56.6     63.5    46.6    46.8    36.4    23.6
           고졸               57.0     50.4    49.5    48.7    41.8    22.9
           대졸이상             55.1     49.2    49.7    46.6    43.4    23.1
직업별        전문관리             52.1     57.0    44.0    38.6    45.8    22.7
           사무               55.1     48.8    50.1    45.6    42.5    24.5
           서비스판매            57.3     52.4    51.9    48.7    41.3    22.0
           농어업              59.9     57.6    46.8    53.5    44.3    19.9
           기능노무             56.1     47.5    43.9    46.7    43.8    24.5
           학생               51.9     45.7    52.8    43.7    39.6    32.9
           주부               58.7     50.5    48.5    50.7    42.9    18.1
           무직/기타            47.0     47.6    54.6    51.8    45.2    18.7
혼인상태별      미혼               55.5     48.5    52.1    45.5    41.7    24.8
           기혼               55.5     51.1    48.7    47.7    43.3    22.5
           사별/이혼/기타         61.0     49.5    50.0    50.5    38.5    21.8
가구주여부별     가구주              56.7     51.6    48.2    47.4    41.9    22.7
           가구원              55.2     49.0    51.1    47.4    43.0    23.3
월평균 가구소득별  100만원 미만         52.5     52.5    58.5    48.6    38.9    22.4
           100~200만원 미만     63.0     50.8    48.5    45.4    38.4    18.9
           200~300만원 미만     58.7     53.3    49.0    48.8    40.0    22.4
           300~400만원 미만     55.3     50.8    49.3    48.9    43.2    22.0
           400~500만원 미만     57.0     50.8    46.6    45.2    44.3    22.2
           500~600만원 미만     52.9     50.2    51.2    47.9    40.5    25.3
           600~700만원 미만     58.2     47.7    52.0    44.8    40.8    27.0
           700만원 이상         49.4     42.1    57.5    53.0    51.1    20.7
동거 가구원수별   1인               61.0     51.7    49.9    48.1    38.9    20.8
           2인               56.5     53.0    49.0    48.3    43.2    20.9
           3인               55.7     51.4    50.6    46.6    40.6    23.8
           4인 이상            52.3     44.1    48.8    47.0    46.7    26.3
거주지역별      대도시              56.9     50.7    49.6    48.7    40.7    22.1
           중소도시             52.9     46.7    51.6    44.2    47.2    26.1
           읍면지역             57.7     59.0    43.1    45.7    43.3    21.7
권역별        수도권              56.8     52.2    52.9    47.9    39.8    18.6
           충청권              58.5     48.7    41.7    44.0    49.2    25.1
           호남권              49.1     45.0    41.3    44.6    50.6    32.3
           동북권              59.0     53.3    48.9    46.1    45.2    24.9
           동남권              54.0     46.5    50.6    51.4    38.8    28.5
인터넷 이용시간별  1시간 미만           60.4     55.9    45.3    47.0    42.1    24.1
           1~2시간 미만         60.0     54.3    48.7    49.4    39.6    21.2
           2~3시간 미만         55.3     46.5    49.2    47.3    43.7    25.2
           3~4시간 미만         51.1     46.3    55.4    47.7    42.9    21.7
           4시간 이상           51.8     51.4    46.8    42.7    46.3    23.6
사이버폭력예방교육별 경험 있음            60.3     52.8    42.1    35.4    47.0    24.0
           경험 없음            55.5     50.1    50.4    48.7    42.0    22.9

                         사이버갈취  사이버강요
특성별(1)     특성별(2)
전체         소계             18.2   12.9
성별         남성             18.1   14.0
           여성             18.4   11.8
연령별        20~29세         17.6   12.7
           30~39세         21.4   14.4
           40~49세         19.9   13.5
           50~59세         17.7   12.4
           60~69세         13.7   11.1
학력별        초졸이하            7.3   10.8
           중졸             16.0   10.4
           고졸             17.1   12.7
           대졸이상           19.5   13.3
직업별        전문관리           17.9   22.0
           사무             20.1   13.3
           서비스판매          15.9   10.4
           농어업            11.3    6.6
           기능노무           20.5   16.9
           학생             18.6   14.8
           주부             19.5   11.0
           무직/기타          18.2   16.8
혼인상태별      미혼             17.3   14.6
           기혼             18.9   12.3
           사별/이혼/기타       16.2   12.6
가구주여부별     가구주            17.7   13.7
           가구원            18.8   12.1
월평균 가구소득별  100만원 미만       19.0    7.6
           100~200만원 미만   15.1   20.1
           200~300만원 미만   16.6   11.2
           300~400만원 미만   18.0   12.5
           400~500만원 미만   20.7   13.2
           500~600만원 미만   19.2   12.9
           600~700만원 미만   16.8   12.7
           700만원 이상       11.5   14.6
동거 가구원수별   1인             16.6   13.1
           2인             17.2   11.8
           3인             18.6   12.7
           4인 이상          20.2   14.6
거주지역별      대도시            18.7   12.5
           중소도시           18.1   13.2
           읍면지역           14.1   15.5
권역별        수도권            20.1   11.8
           충청권            15.1   17.7
           호남권            17.9   19.3
           동북권            14.0    8.7
           동남권            17.9   12.3
인터넷 이용시간별  1시간 미만         14.6   10.7
           1~2시간 미만       15.9   10.9
           2~3시간 미만       19.4   13.5
           3~4시간 미만       20.0   14.9
           4시간 이상         22.3   15.2
사이버폭력예방교육별 경험 있음          23.2   15.2
           경험 없음          17.7   12.7

In [259]:
# 인덱스마다 데이터프레임 분리
gender = select(file1, '성별')
age = select(file1, '연령별')
degree = select(file1, '학력별')
job = select(file1, '직업별')
couple = select(file1, '혼인상태별')
home = select(file1, '가구주여부별')
income = select(file1, '월평균 가구소득별')
family = select(file1, '동거 가구원수별')
area = select(file1, '거주지역별')
korea = select(file1, '권역별')
hour = select(file1, '인터넷 이용시간별')
edu = select(file1, '사이버폭력예방교육별')

In [260]:
# 필요한 데이터프레임만 선택
gender = select(file1, '성별')
age = select(file1, '연령별')
degree = select(file1, '학력별')
job = select(file1, '직업별')
couple = select(file1, '혼인상태별')
area = select(file1, '거주지역별')
hour = select(file1, '인터넷 이용시간별')
edu = select(file1, '사이버폭력예방교육별')

## 각 데이터프레임에서 인덱스별로 가장 두려워하는 폭력 유형 정리

In [261]:
gender

        사이버언어폭력  사이버명예훼손  사이버스토킹  신상정보유출  사이버성폭력  사이버따돌림  사이버갈취  사이버강요
특성별(2)
남성          9.0     20.6    13.4    23.1    19.3     6.7    5.3    2.6
여성          9.2     22.4    12.9    21.8    20.5     7.4    3.5    2.3

In [262]:
gender.T.describe()
# 남성에서는 신상정보유출, 여성에서는 사이버명예훼손을 가장 두려워 함

특성별(2)         남성         여성
count    8.000000   8.000000
mean    12.500000  12.500000
std      7.752972   8.199303
min      2.600000   2.300000
25%      6.350000   6.425000
50%     11.200000  11.050000
75%     19.625000  20.825000
max     23.100000  22.400000

In [263]:
age

        사이버언어폭력  사이버명예훼손  사이버스토킹  신상정보유출  사이버성폭력  사이버따돌림  사이버갈취  사이버강요
특성별(2)
19~29세      8.1     19.6    12.8    25.3    19.4     6.7    5.5    2.6
30~39세      8.7     19.3    13.2    23.7    20.1     7.2    4.8    3.0
40~49세      8.3     21.4    14.0    22.6    18.9     7.6    5.2    2.0
50~59세      9.3     22.0    14.6    19.7    20.9     6.7    4.3    2.6
60~69세     11.3     24.8    10.8    21.5    20.3     6.9    2.3    2.1

In [264]:
age.T.describe()
# 20대에서는 신상정보유출
# 30대에서는 신상정보유출
# 40대에서는 신상정보유출
# 50대에서는 사이버명예훼손
# 60대에서는 사이버명예훼손

특성별(2)     19~29세     30~39세     40~49세     50~59세     60~69세
count    8.000000   8.000000   8.000000   8.000000   8.000000
mean    12.500000  12.500000  12.500000  12.512500  12.500000
std      8.123687   7.764388   7.834174   7.802827   8.791392
min      2.600000   3.000000   2.000000   2.600000   2.100000
25%      6.400000   6.600000   7.000000   6.100000   5.750000
50%     10.450000  10.950000  11.150000  11.950000  11.050000
75%     19.450000  19.500000  19.525000  20.000000  20.600000
max     25.300000  23.700000  22.600000  22.000000  24.800000

In [265]:
degree

        사이버언어폭력  사이버명예훼손  사이버스토킹  신상정보유출  사이버성폭력  사이버따돌림  사이버갈취  사이버강요
특성별(2)
초졸이하       19.3     26.0     9.1    23.2    16.8     4.4    0.0    1.2
중졸         15.1     26.8    10.6    19.3    17.8     5.4    2.6    2.5
고졸          9.2     22.2    12.5    21.6    20.4     7.6    4.3    2.3
대졸이상        8.3     20.3    14.1    23.4    19.8     6.7    4.8    2.6

In [266]:
degree.T.describe()
# 초졸이하는 사이버명예훼손
# 중졸은 사이버명예훼손
# 고졸은 사이버명예훼손
# 대졸이상은 신상정보유출

특성별(2)       초졸이하         중졸         고졸       대졸이상
count    8.000000   8.000000   8.000000   8.000000
mean    12.500000  12.512500  12.512500  12.500000
std     10.160006   8.763632   7.977547   7.964923
min      0.000000   2.500000   2.300000   2.600000
25%      3.600000   4.700000   6.775000   6.225000
50%     12.950000  12.850000  10.850000  11.200000
75%     20.275000  18.175000  20.700000  19.925000
max     26.000000  26.800000  22.200000  23.400000

In [267]:
job

        사이버언어폭력  사이버명예훼손  사이버스토킹  신상정보유출  사이버성폭력  사이버따돌림  사이버갈취  사이버강요
특성별(2)
전문관리        8.9     22.0    13.8    21.5    18.6     6.6    6.8    1.8
사무          9.1     21.3    12.9    23.3    20.7     6.3    3.8    2.6
서비스판매       8.4     20.6    13.0    21.3    21.4     7.6    4.9    2.7
농어업        13.0     29.2    10.2    18.7    17.8     5.8    3.7    1.5
기능노무        9.6     21.3    12.8    23.8    18.7     7.5    4.6    1.8
학생          7.7     18.3    13.3    26.8    19.0     7.4    4.9    2.7
주부         10.4     23.9    14.1    20.8    18.6     7.2    2.7    2.3
무직/기타      10.1     22.3    13.4    26.4    15.3     4.6    5.6    2.4

In [268]:
job.T.describe()
#전문관리, 농어업, 주부 => 사이버명예훼손
#사무, 기능노무, 학생, 무직 => 신상정보유출
#서비스판매 => 사이버성폭력

특성별(2),전문관리,사무,서비스판매,농어업,기능노무,학생,주부,무직/기타
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,12.500000,12.500000,12.487500,12.487500,12.512500,12.512500,12.500000,12.512500
std,7.605449,8.325349,7.719444,9.214032,8.053116,8.314091,8.204528,8.583113
min,1.800000,2.600000,2.700000,1.500000,1.800000,2.700000,2.300000,2.400000
25%,6.750000,5.675000,6.925000,5.275000,6.775000,6.775000,6.075000,5.350000
50%,11.350000,11.000000,10.700000,11.600000,11.200000,10.500000,12.250000,11.750000
75%,19.325000,20.850000,20.775000,18.025000,19.350000,18.475000,19.150000,17.050000
max,22.000000,23.300000,21.400000,29.200000,23.800000,26.800000,23.900000,26.400000

In [269]:
couple

          사이버언어폭력  사이버명예훼손  사이버스토킹  신상정보유출  사이버성폭력  사이버따돌림  사이버갈취  사이버강요
특성별(2)
미혼            8.1     18.9    13.3    24.9    19.8     6.9    5.4    2.9
기혼            9.1     22.4    13.3    21.6    19.9     7.3    4.1    2.4
사별/이혼/기타     13.1     24.0    11.1    20.6    20.9     5.1    3.7    1.4

In [270]:
couple.T.describe()
# 미혼은 신상정보유출
# 기혼은 사이버명예훼손
# 사별/이혼/기타는 사이버명예훼손

특성별(2)         미혼         기혼   사별/이혼/기타
count    8.000000   8.000000   8.000000
mean    12.525000  12.512500  12.487500
std      7.945664   7.994541   8.669724
min      2.900000   2.400000   1.400000
25%      6.525000   6.500000   4.750000
50%     10.700000  11.200000  12.100000
75%     19.125000  20.325000  20.675000
max     24.900000  22.400000  24.000000

In [271]:
area

        사이버언어폭력  사이버명예훼손  사이버스토킹  신상정보유출  사이버성폭력  사이버따돌림  사이버갈취  사이버강요
특성별(2)
대도시         8.3     20.7    11.8    27.1    20.5     5.9    3.6    2.0
중소도시        9.1     21.5    15.2    17.9    19.7     7.8    5.5    3.2
읍면지역       11.1     23.3    12.2    20.2    19.0     8.1    4.2    1.9

In [272]:
area.T.describe()
# 대도시 => 신상정보유출
# 중소도시, 읍면지역 => 사이버명예훼손

특성별(2)        대도시       중소도시       읍면지역
count    8.000000   8.000000   8.000000
mean    12.487500  12.487500  12.500000
std      9.223795   6.953198   7.753709
min      2.000000   3.200000   1.900000
25%      5.325000   7.225000   7.125000
50%     10.050000  12.150000  11.650000
75%     20.550000  18.350000  19.300000
max     27.100000  21.500000  23.300000

In [273]:
hour

          사이버언어폭력  사이버명예훼손  사이버스토킹  신상정보유출  사이버성폭력  사이버따돌림  사이버갈취  사이버강요
특성별(2)
1시간 미만       11.4     25.2    12.9    20.9    18.3     6.3    2.8    2.2
1~2시간 미만      9.2     22.0    14.3    21.6    20.4     7.4    3.3    1.8
2~3시간 미만      7.8     20.4    14.5    22.1    19.7     6.9    6.0    2.6
3~5시간 미만      8.0     19.6    11.4    24.1    20.7     7.6    5.3    3.3
5시간 이상        9.1     19.4    11.2    24.7    20.5     7.0    5.3    2.8

In [274]:
hour.T.describe()
# 1시간 미만, 1~2시간 => 사이버 명예훼손
# 2~3시간, 3~5시간, 5시간 이상 => 신상정보 유출

특성별(2)     1시간 미만  1~2시간 미만  2~3시간 미만   3~5시간 미만     5시간 이상
count    8.000000   8.00000   8.00000   8.000000   8.000000
mean    12.500000  12.50000  12.50000  12.500000  12.500000
std      8.497731   8.23529   7.59812   7.875459   8.016768
min      2.200000   1.80000   2.60000   3.300000   2.800000
25%      5.425000   6.37500   6.67500   7.025000   6.575000
50%     12.150000  11.75000  11.15000   9.700000  10.150000
75%     18.950000  20.70000  19.87500  19.875000  19.675000
max     25.200000  22.00000  22.10000  24.100000  24.700000

In [275]:
edu

        사이버언어폭력  사이버명예훼손  사이버스토킹  신상정보유출  사이버성폭력  사이버따돌림  사이버갈취  사이버강요
특성별(2)
경험 있음       6.2     20.5    13.3    26.7    21.3     5.2    4.1    2.8
경험 없음       9.5     21.6    13.1    21.9    19.8     7.2    4.5    2.4

In [276]:
edu.T.describe()
# 경험유무와 상관없이 신상정보유출

특성별(2)      경험 있음      경험 없음
count    8.000000   8.000000
mean    12.512500  12.500000
std      9.268601   7.818659
min      2.800000   2.400000
25%      4.925000   6.525000
50%      9.750000  11.300000
75%     20.700000  20.250000
max     26.700000  21.900000